{% extends 'parent/base.html' %}
{% load static %}
{% block title %}payment{% endblock %}o %}

{% block content %}
	{% if success %}
		<div class="success">
            <p>پرداخت موفق</p>
            <p>شماره پیگیری {{ RefID }}</p>
            <p>شماره سفارش {{ order_id }}</p>
        </div>
    {% else %}
        <div class="failure">
            <p>پرداخت با شکست مواجه شد.</p>
        </div>
	{% endif %}
    <a class="back-btn" href="{% url 'shop:products_list' %}">بازگشت به لیست محصولات</a>
{% endblock %}