{% extends 'parent/base.html' %}
{% load shop_tags %}
{% block title %}main page{% endblock %}
{% block content %}
    <h2>صفحه اصلی</h2>
    <div class="latest-products">
        <h3>اخرین محصولات</h3>
        {% latest_products %}
    </div>
    <br>
        <div class="latest-products">
        <h3>ارزان ترین محصولات</h3>
        {% cheapest_products %}
    </div>
    <br>
    <div class="latest-products">
        <h3>گران ترین محصولات</h3>
        {% most_expensive_products %}
    </div>
{% endblock %}